/* Resolução de telas pequenas (Smartphone) */

@media only screen and (max-width:480px) {
    .br-mobile {
        display: block;
    }
    .disclaimer-footer,
    .links-contato-links {
        padding: 5px;
    }
    /* Botões de navegação do início */
    a.btn-navegacao-central {
        flex-basis: 35%;
        margin-top: 20px;
    }
    .navegacao-wrapper {
        text-align: center;
        flex-wrap: wrap;
    }
    /* Botões de navegação da Busca de Atendimento */
    .input-search-wrapper input {
        width: 90%;
    }
    /* Regras mobile para o FAQ */
    .faq-menu,
    .faq-perguntas {
        width: 100%;
        display: block;
    }
    .faq-wrapper {
        display: block;
    }
    #FAQ {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* Regras pro chat flutuante */
    .chat-flutuante {
        right: 0;
        bottom: 0;
        width: 100%;
        height: calc(100%);
        z-index: 999;
    }
    .chat-wrapper {
        height: 100%;
    }
    .chat-header {
        height: 90px;
    }
    .chat-body {
        height: calc(80% - 95px);
    }
    .chat-mensagem-form {
        height: 6%;
    }
    .chat-mensagem-form input[type="text"] {
        height: 100%;
    }
    .chat-footer {
        height: 15%;
    }
}