/* Regras gerais */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

[v-cloak] {
    display: none;
}

.br-mobile {
    display: none;
}

#app {
    max-width: 1000px;
    margin: auto;
}

.logo-neoassist {
    text-align: right;
    max-width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.logo-neoassist img {
    width: 70px;
}

.app-wrapper {
    margin-top: 150px;
    text-align: center;
}

.titulo-central {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.subtitulo-central {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
}

a.btn-chat {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: red;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 2px grey;
}

.contato-links {
    display: flex;
    max-width: 500px;
    margin: auto;
    text-align: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
}

.links-contato-links {
    display: flex;
    width: 50%;
    vertical-align: middle;
    align-items: center;
}

.disclaimer-footer {
    width: 100%;
    margin-right: 20px;
}

.links-contato-links a {
    display: block;
    width: 100%;
    text-align: right;
}


/* Regras para os links vermelhos de navegação (Início e Busca de Atendimento) */

.navegacao-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Botões de navegação do início */

.btn-navegacao-central {
    text-align: center;
    background-color: #dc3636;
    width: 140px;
    height: 100px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 20px 0px 20px;
    align-self: center;
}

.btn-navegacao-central:hover {
    text-decoration: none;
    color: white;
}

.btn-navegacao-central img {
    display: block;
    text-align: center;
    width: 60px;
    margin: auto;
}


/* Botões de navegação da Busca de Atendimento */

.btn-navegacao-atendimento {
    text-align: center;
    width: 130px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    align-self: center;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 15px;
}

.btn-navegacao-atendimento:hover {
    text-decoration: none;
    color: black;
}

.btn-navegacao-atendimento img {
    background-color: #dc3636;
    border-radius: 15px;
    display: block;
    text-align: center;
    width: 130px;
    padding: 30px;
    margin: auto;
    margin-bottom: 10px;
}

.btn-navegacao-atendimento:hover img {
    background-color: #b42827;
}

#BuscaAtendimento h4 {
    margin-bottom: 45px;
}


/* Regras Busca de Atendimento */

.erro-busca {
    margin: auto;
    margin-bottom: 40px;
    color: #dc3636;
    font-weight: 500;
    margin-top: -35px;
    background-color: rgba(220, 54, 54, 0.3);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

.input-search-wrapper input {
    background-color: #ebebeb;
    outline: 0;
    border: 0;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    padding-right: 50px;
    margin-right: -50px;
}

.input-search-wrapper button {
    border: 0;
    outline: 0;
}

.input-search-wrapper {
    margin-bottom: 80px;
}

.input-search-wrapper img {
    width: 25px;
    margin-top: -5px;
}


/* Regras para FAQ */

.faq-wrapper {
    display: flex;
}

.faq-menu {
    width: 35%;
    display: inline-block;
    margin-right: 40px;
}

.faq-perguntas {
    display: inline-block;
    width: 60%;
}

a.categoria-link {
    background-color: #dc3636;
    color: white;
    display: block;
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    text-align: left;
}

a.categoria-link:hover {
    text-decoration: none;
    background-color: #b42827;
}

.faq-menu-itens ul {
    list-style: none;
    padding-left: 0;
}

a.categoria-link::after {
    content: '›';
    position: absolute;
    right: 20px;
    font-size: 45px;
    top: 0;
    margin: auto;
    height: 100%;
    line-height: 43px;
}

#FAQ .input-search-wrapper input {
    padding: 15px;
    margin: 10px 40px;
    display: block;
    border-radius: 10px;
    padding-right: 40px;
    margin-left: 0;
    width: 100%;
    font-size: 14px;
}

#FAQ .input-search-wrapper button {
    position: absolute;
    right: 10px;
    bottom: 0;
    margin: auto;
    top: 0;
    background-color: transparent;
}

#FAQ .input-search-wrapper {
    position: relative;
}

#FAQ h3 {
    font-size: 19px;
    text-align: left;
    font-weight: 400;
}

#FAQ h1.titulo-central {
    text-align: left;
    margin-bottom: 70px;
}

#FAQ h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 30px;
}

.titulo-questao {
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
}

.questao-wrapper {
    text-align: left;
    margin-bottom: 30px;
}

.titulo-questao:before {
    content: ' ';
    background-image: url(../img/caret-right.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 100% 100%;
    margin-bottom: -4px;
    margin-right: 5px;
}

.questao-wrapper.aberto .titulo-questao:before {
    content: ' ';
    background-image: url(../img/caret-down.png);
}

.conteudo-questao {
    max-height: 0px;
    overflow: hidden;
    transition: ease 0.3s;
}

.questao-wrapper.aberto .conteudo-questao {
    max-height: 700px;
}

.resposta-util {
    margin-top: 30px;
    font-weight: 500;
}

.resposta-util a {
    text-transform: uppercase;
    padding: 5px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.resposta-util-sim {
    background-color: #58b44f;
}

.resposta-util-nao {
    background-color: #dc3636;
}

.msg-feedback-resposta .feedback-sim,
.msg-feedback-resposta .feedback-nao {
    display: none;
}

.msg-feedback-resposta .feedback-sim.aberto,
.msg-feedback-resposta .feedback-nao.aberto {
    display: block;
}

.resposta-util-sim[disabled],
.resposta-util-nao[disabled] {
    background-color: gray;
    pointer-events: none;
}

.msg-feedback-resposta {
    margin-top: 20px;
}

#FAQ .msg-feedback-resposta h3 {
    font-weight: 500;
}


/* Regras do formulário de email */

form.form-enviar-email {
    text-align: left;
}

.form-enviar-email label {
    display: block;
    margin-top: 20px;
}

.campo-form {
    width: 100%;
    padding: 10px;
    background-color: #ebebeb;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.error-label {
    font-style: italic;
    font-weight: 500;
    color: #dc3636;
}

.form-enviar-email p {
    margin-top: 20px;
}

.form-enviar-email input[type="submit"] {
    background-color: #00a652;
    color: white;
    padding: 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.msg-sucesso-form .texto-mensagem {
    background-color: #00a652;
    color: white;
    padding: 25px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.msg-sucesso-form a {
    color: #dc3636;
    font-weight: 500;
}

.msg-sucesso-form a img {
    margin-right: 6px;
}


/* Regras para os estilos do chat flutuante */

.chat-flutuante {
    position: fixed;
    width: 300px;
    height: 465px;
    right: 85px;
    bottom: 50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 4px 1px silver;
    background-color: white;
}

.chat-header {
    background-color: #acacac;
    color: white;
    padding: 15px;
}

.chat-titulo {
    display: flex;
}

.chat-titulo-topo {
    width: 80%;
    padding-left: 20px;
}

.icone-chat-header {
    width: 10%;
}

.fechar-chat {
    width: 10%;
    cursor: pointer;
}

.chat-atendente {
    font-size: 13px;
    margin-top: 10px;
}

span.disclaimer-chat {
    font-size: 8px;
    line-height: 15px;
    display: block;
    margin-top: 5px;
}

.disclaimer-chat span {
    border: 1px white solid;
    border-radius: 100%;
    padding-left: 4px;
    padding-right: 5px;
}

.chat-body {
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f0f0f0;
}

.mensagem-texto {
    padding: 5px;
    border: 1px #32bcad solid;
    font-size: 10px;
    display: inline-block;
    border-radius: 3px;
    position: relative;
}

.mensagem-eu .mensagem-texto {
    text-align: left;
    display: inline-block;
    background-color: #32bcad;
    color: white;
    border-radius: 3px;
}

.mensagem-data-hora {
    font-size: 10px;
}

.mensagem-eu .mensagem-data-hora {
    text-align: right;
}

.mensagem.mensagem-eu {
    text-align: right;
}

.mensagem {
    margin-bottom: 10px;
}

.mensagem-oposto .mensagem-texto {
    background-color: white;
}

.mensagem-eu .mensagem-texto::after {
    content: ' ';
    background-image: url(../img/arrow-right-chat.png);
    width: 9px;
    height: 14px;
    display: block;
    position: absolute;
    right: -9px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 6px;
    bottom: 0;
}

.mensagem-oposto .mensagem-texto::after {
    content: ' ';
    background-image: url(../img/arrow-left-atendente.png?v=2);
    width: 9px;
    height: 14px;
    display: block;
    position: absolute;
    left: -9px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.chat-mensagem-form {
    display: flex;
}

.chat-mensagem-form input[type="text"] {
    border-left: 1px silver solid;
    border-bottom: 1px silver solid;
    border-top: 1px silver solid;
    border-right: 0;
    font-size: 10px;
    width: 70%;
    padding: 5px;
    outline: 0;
    height: 35px;
}

.chat-mensagem-form a {
    width: 10%;
    display: inline-block;
    text-align: center;
    border-top: 1px silver solid;
    border-bottom: 1px silver solid;
    padding-top: 3px;
    position: relative;
}

.chat-mensagem-form a img {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
}

.chat-mensagem-form input[type="submit"] {
    width: 10%;
    text-align: center;
    border: 0;
    padding: 0;
    font-size: 10px;
    background-color: #666666;
    color: white;
}

.chat-footer {
    display: flex;
    flex-flow: wrap;
    /* padding-top: 10px; */
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

a.link-finalizar-conversa {
    width: 50%;
    font-size: 10px;
    color: black;
    text-decoration: none;
}

a.link-finalizar-rolagem-automatica {
    width: 50%;
    font-size: 10px;
    color: #32bcad;
    text-decoration: none;
}

a.link-neoassist {
    width: 100%;
    clear: both;
    display: block;
    text-align: right;
}

a.link-neoassist img {
    width: 50px;
}