@media only screen and (max-width:480px) {
    a.btn-navegacao-central {
        flex-basis: 30%;
        margin-top: 20px;
    }
    .navegacao-wrapper {
        text-align: center;
        flex-wrap: wrap;
    }
}